body {
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora {
    width: 250px;
    background-color: black;
    padding: 20px;
    border-radius: 15px;
}

#pantalla {
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    padding-top: 50px;
    border: none;
    outline: none;
}

#botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

.btn-funcion {
    background-color: grey;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.btn-operador {
    background-color: goldenrod;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.btn-numero {
    background-color: darkslategrey;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

#btnIgual {
    aspect-ratio: auto;
    grid-column: span 2;
    border-radius: 40px;
}

button {
    aspect-ratio: 1 / 1;
}

button:active {
    filter: brightness(1.2);
    transform: scale(0.95);
}