body{
    background-color: darkgrey;
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculadora {
    background-color: black;
    width: 20%;
    height: 75%;
    padding: 20px;
}

#pantalla {
    background-color: black;
    width: 100%;
    height: 25%;
    border: none;
    text-align: right;
}

#botones {
    width: 100%;
    height: 75%;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.btn-funcion {
    background-color: grey;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.btn-operador {
    background-color: goldenrod;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.btn-numero {
    background-color: darkslategrey;
    color: white;
    border-style: none;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

button:active {
    filter: brightness(1.2);
}
